*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body{
  background-image: url(https://www.wsupercars.com/wallpapers/Polestar/2020-Polestar-1-011-1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

nav{
  background: black;
  padding: 5px 40px;
}

nav ul{
  list-style:none;
  display: flex; /*Allt inom denna clasen stannar på samma rad*/
  flex-wrap: wrap; /*Om ett objekt inte får plats så åker den under längst till vänster*/
  align-items: center;
  justify-content: center;
}

nav ul li{
  padding: 15px 0;
  cursor: pointer;
}

nav ul li.Meny{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.logga{
  flex: 1; /*Flex 1 gör så att en logga tar upp all plats från kant till kant i en viss ram*/
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

nav ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: grey;
}

.container{
  display: flex;
  justify-content: left;
  margin-top: 30px;

}

.item1{
  flex-grow: 1;
  background-color: white;
  margin: 20px;
  width: 50%;
  height: 50%;
  color: white; 
}

h1{
  display: flex;
}

.tag{
  display: flex;
  position: absolute;
  left: 5%;
  top: 35%;
  animation-duration: 3s;
  animation-name: slidein;
}

.modeller{
  display: flex;
  position: absolute;
  transform: translate(50%, -50%);
  left: 65%;
  top: 15%;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.button1{
  border: none;
  color: orange;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 30px 120px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-color: black;
 
}

.btn{
  display: flex;
  flex: 1;
}

.button1:hover{
  background-color: gray;
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(241, 237, 237);
  color: black;
  text-align: center;
  justify-content: center; /*Centrerar texten*/
  flex-direction: column; /*Gör så att båda <p> taggarna hamnar under varandra.*/
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 200px;
  align-items: center;
  margin-left: 73%;
}

.item{
  flex-grow: 1;
  background-color: white;
  margin: 20px;
  width: 100%;
  height: auto;

  color: white; 
}

