*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
nav{
    background: #151515;
    padding: 5px 40px;
  }
  
  nav ul{
    list-style:none;
    display: flex; /*Allt inom denna clasen stannar på samma rad*/
    flex-wrap: wrap; /*Om ett objekt inte får plats så åker den under längst till vänster*/
    align-items: center;
    justify-content: center;
  }
  
  nav ul li{
    padding: 15px 0;
    cursor: pointer;
  }
  
  nav ul li.Meny{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  
  nav ul li.logga{
    flex: 1; /*Flex 1 gör så att en logga tar upp all plats från kant till kant i en viss ram*/
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  
  nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  nav ul li:hover a{
    color: grey;
  }
  
.container1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 400px;
  }
  
.item1{
    flex: 1;
    background-color: white;
    margin: 20px;
    width: 50%;;
    height: 50%;
    color: white; 
}

.item2{
    flex: 1;
    background-color: white;
    margin: 20px;
    width: 60%;;
    height: 60%;
    color: white; 
}